In [2]:
import pandas as pd
import requests
import json
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Defining Constants
api_key = "ZOC333QF0ZHXU5YD"
series = "TIME_SERIES_DAILY"
request_url = "https://www.alphavantage.co/query"
d_address = 'Data/Deaths.csv'
c_address = 'Data/Confirmed.csv'

### Fetching Stock Datasets from Alphavantage

In [4]:
def fetch_stock_values(symbol):
    query_params = {
        'function' : series,
        'symbol' : symbol,
        'apikey': api_key
    }
    headers = {
        'User-Agent': 'XY',
        'Content-type': 'application/json'
    }
    response = requests.get(request_url, headers=headers, params=query_params)
    return response.text if response.status_code == 200 else "Something went wrong"

#### 1. First Stock SPDR S&P 500 ETF Trust

In [5]:
spy_json = json.loads(fetch_stock_values(symbol='spy'))
sdf = pd.DataFrame(spy_json['Time Series (Daily)']).astype(float)
spy_df = sdf.drop(['1. open','4. close','5. volume'],axis=0)
spy = spy_df.rename({'2. high' : 'high', '3. low' : 'low'})

#### 2. Zoom Video Communications Inc

In [6]:
zm_json = json.loads(fetch_stock_values(symbol='ZM'))
zdf = pd.DataFrame(zm_json['Time Series (Daily)']).astype(float)
zm_df = zdf.drop(['1. open','4. close','5. volume'],axis=0)
zm = zm_df.rename({'2. high' : 'high', '3. low' : 'low'})

#### 3. Delta Air Lines, Inc

In [7]:
dal_json = json.loads(fetch_stock_values(symbol='DAL'))
ddf = pd.DataFrame(dal_json['Time Series (Daily)']).astype(float)
dal_df = ddf.drop(['1. open','4. close','5. volume'],axis=0)
dal = dal_df.rename({'2. high' : 'high', '3. low' : 'low'})

#### 4. Annaly Capital Management, Inc

In [8]:
nly_json = json.loads(fetch_stock_values(symbol='NLY'))
ndf = pd.DataFrame(nly_json['Time Series (Daily)']).astype(float)
nly_df = ndf.drop(['1. open','4. close','5. volume'],axis=0)
nly = nly_df.rename({'2. high' : 'high', '3. low' : 'low'})

#### 5. GOLD

In [9]:
gld_json = json.loads(fetch_stock_values(symbol='GOLD'))
gdf = pd.DataFrame(gld_json['Time Series (Daily)']).astype(float)
gld_df = gdf.drop(['1. open','4. close','5. volume'],axis=0)
gld = gld_df.rename({'2. high' : 'high', '3. low' : 'low'})

### Transposing the Stock Datasets

In [10]:
spy_tp_df = spy.T
zm_tp_df = zm.T
dal_tp_df = dal.T
nly_tp_df = nly.T
gld_tp_df = gld.T

In [11]:
# Creating Date as default index
spy_tp_df.rename_axis('Date', inplace=True)

# Printing one Datasets
spy_tp_df.head(5)

                high     low
Date
2022-04-25  428.6900  418.84
2022-04-22  438.0825  425.44
2022-04-21  450.0100  437.10
2022-04-20  447.5700  443.48
2022-04-19  445.8000  437.68

### Importing Covid Deaths Dataset

In [12]:
# Importing COVID Deaths data from CSV
deaths_data = pd.read_csv(d_address, index_col=False)

# Formatting the date as YYYY-MM-dddd format
deaths_data['Date'] = pd.to_datetime(deaths_data['Date']).dt.strftime('%Y-%m-%d')

# Reversing the order of both Dates and Deaths data such that value is at position 1.
deaths_data['Date'] = deaths_data['Date'].values[::-1].astype(str)
deaths_data['Deaths'] = deaths_data['Deaths'].values[::-1]

# Assigning Date as default index
deaths_data.set_index('Date', inplace=True)

# Number of Deaths is in multiples of 10k we will have to divide it such that the visuals can correlate each other.
deaths_data['Deaths'] = deaths_data['Deaths'].div(100)

# Printing Dataframe
deaths_data

            Deaths
Date
2022-04-25  388.85
2022-04-24  388.78
2022-04-23  388.53
2022-04-22  388.01
2022-04-21  386.96
...            ...
2021-12-05  298.96
2021-12-04  298.89
2021-12-03  298.80
2021-12-02  298.58
2021-12-01  298.37

[146 rows x 1 columns]

### Importing covid Confirmed Dataset

In [13]:
# Importing COVID confirmed cases data from CSV
confirmed_data = pd.read_csv(c_address, index_col=False)

# Formatting the date as YYYY-MM-dddd format
confirmed_data['Date'] = pd.to_datetime(confirmed_data['Date']).dt.strftime('%Y-%m-%d')

# Reversing the order of both Dates and Confirmed cases data such that value is at position 1.
confirmed_data['Date'] = confirmed_data['Date'].values[::-1].astype(str)
confirmed_data['Confirmed'] = confirmed_data['Confirmed'].values[::-1]

# Assigning Date as default index
confirmed_data.set_index('Date', inplace=True)

# Number of Confirmed cases is in multiples of 10k we will have to divide it such that the visuals can correlate each other.
confirmed_data['Confirmed'] = confirmed_data['Confirmed'].div(100)

# Printing Dataframe
confirmed_data

            Confirmed
Date
2022-04-24     388.78
2022-04-23     388.53
2022-04-22     388.01
2022-04-21     386.96
2022-04-20     385.76
...               ...
2021-12-05     298.96
2021-12-04     298.89
2021-12-03     298.80
2021-12-02     298.58
2021-12-01     298.37

[145 rows x 1 columns]