In [26]:
import pandas as pd
import requests
import json
import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
# Defining Constants
api_key = "ZOC333QF0ZHXU5YD"
series = "TIME_SERIES_DAILY"
request_url = "https://www.alphavantage.co/query"

### Fetching Stock Datasets from Alphavantage

In [28]:
def fetch_stock_values(symbol):
    query_params = {
        'function' : series,
        'symbol' : symbol,
        'apikey': api_key
    }
    headers = {
        'User-Agent': 'XY',
        'Content-type': 'application/json'
    }
    response = requests.get(request_url, headers=headers, params=query_params)
    return response.text if response.status_code == 200 else "Something went wrong"

#### 1. First Stock SPDR S&P 500 ETF Trust

In [29]:
spy_json = json.loads(fetch_stock_values(symbol='spy'))
sdf = pd.DataFrame(spy_json['Time Series (Daily)']).astype(float)
spy_df = sdf.drop(['1. open','4. close','5. volume'],axis=0)
spy = spy_df.rename({'2. high' : 'high', '3. low' : 'low'})

#### 2. Zoom Video Communications Inc

In [30]:
zm_json = json.loads(fetch_stock_values(symbol='ZM'))
zdf = pd.DataFrame(zm_json['Time Series (Daily)']).astype(float)
zm_df = zdf.drop(['1. open','4. close','5. volume'],axis=0)
zm = zm_df.rename({'2. high' : 'high', '3. low' : 'low'})

#### 3. Delta Air Lines, Inc

In [31]:
dal_json = json.loads(fetch_stock_values(symbol='DAL'))
ddf = pd.DataFrame(dal_json['Time Series (Daily)']).astype(float)
dal_df = ddf.drop(['1. open','4. close','5. volume'],axis=0)
dal = dal_df.rename({'2. high' : 'high', '3. low' : 'low'})

#### 4. Annaly Capital Management, Inc

In [32]:
nly_json = json.loads(fetch_stock_values(symbol='NLY'))
ndf = pd.DataFrame(nly_json['Time Series (Daily)']).astype(float)
nly_df = ndf.drop(['1. open','4. close','5. volume'],axis=0)
nly = nly_df.rename({'2. high' : 'high', '3. low' : 'low'})

#### 5. GOLD

In [33]:
gld_json = json.loads(fetch_stock_values(symbol='GOLD'))
gdf = pd.DataFrame(gld_json['Time Series (Daily)']).astype(float)
gld_df = gdf.drop(['1. open','4. close','5. volume'],axis=0)
gld = gld_df.rename({'2. high' : 'high', '3. low' : 'low'})

### Transposing the Stock Datasets

In [34]:
spy_tp_df = spy.T
zm_tp_df = zm.T
dal_tp_df = dal.T
nly_tp_df = nly.T
gld_tp_df = gld.T

In [35]:
# Creating Date as default index
spy_tp_df.rename_axis('Date', inplace=True)

# Printing one Datasets
spy_tp_df.head(5)

                high     low
Date
2022-04-25  428.6900  418.84
2022-04-22  438.0825  425.44
2022-04-21  450.0100  437.10
2022-04-20  447.5700  443.48
2022-04-19  445.8000  437.68